* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: verdana, Arial, Helvetica, sans-serif;
  }
  
  .font-times {
    font-family: "Times New Roman", Arial, Helvetica, Verdana, sans-serif !important;
    font-weight: bold;
    font-size: 18px;
  }
  .font-arial {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
  }
  
  body {
    display: flex;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    background: black;
    justify-content: space-between;
  }
  aside {
    background: black;
    width: 151px;
    padding: 8px 11px 8px 9px;
    height: 100vh;
    flex: 0 0 151px;
  }
  nav {
    position: relative;
  }
  .menu-icon {
    display: none;
  }
  .dropdown {
    display: block;
    background: white;
    width: 130px;
  }
  .dropdown.show {
    display: block;
  }
  nav ul li {
    font-size: 13px;
    font-weight: bold;
    padding: 2px 0 2.28px 4px;
    border-bottom: 1px solid black;
    word-spacing: -0.9px;
    letter-spacing: 0.35px;
  }
  nav ul li a {
    color: black;
    text-decoration: none;
  }
  nav ul li:hover a {
    color: white;
  }
  nav ul li:hover {
    background: black;
  }
  nav ul li:nth-child(2) {
    padding-bottom: 2px;
  }
  nav ul li:nth-child(3) {
    padding-bottom: 4px;
  }
  nav ul li:nth-child(8) {
    border-bottom: none;
    padding-bottom: 2px;
  }
  
  .company-info {
    color: white;
    text-align: center;
    margin-right: 8px;
  }
  .company-info p:first-child {
    display: flex;
    flex-direction: column;
    margin-top: -3px;
    margin-bottom: 23.5px;
  }
  .address,
  .address2 {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 7px;
    margin-bottom: 6.38px;
  }
  .address2 {
    word-spacing: 0.35px;
  }
  .address2 span {
    word-spacing: 2px;
  }
  .title2 {
    font-size: 13px;
    font-weight: bold;
    margin: -19px 0 -17px 0;
  }
  .title3 {
    padding-bottom: 7px;
    margin-top: -1px;
    margin-left: -1px;
    position: relative;
  }
  .address span,
  .address2 span {
    position: relative;
  }
  .title3::after,
  .address span::after,
  .address2 span::after {
    width: 49px;
    height: 1px;
    background: white;
    position: absolute;
    content: "";
    right: 13px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px;
  }
  .address2 span::after, .title3::after {
    bottom: -2px;
  }
  .phone {
    margin-bottom: 13px;
    margin-top: 6px;
    word-spacing: -0.99px;
    letter-spacing: 0.27px;
  }
  .email {
    margin-bottom: -1px;
  }
  .email a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
    font-weight: bold;
  }
  .hours {
    line-height: 13px;
    word-spacing: 0px;
  }
  .instaLink {
    margin: 32px 0;
  }
  
  main {
    flex-grow: 1;
    margin: 0 8px;
    border: 4px solid white;
    text-align: center;
    color: white;
    max-height: 529px;
    background: black;
  }
  header .website-logo {
    margin: 15px 0 2px 0;
  }
  .home-page-content h1 {
    margin: 14px -2px 20px 0;
    font-weight: 500;
    word-spacing: 0.15px;
  }
  .home-page-content img {
    margin: 0 0 0 -21px;
  }
  .home-page-content h2 {
    margin: 27px 0 0 1px;
    font-weight: 500;
  }
  footer p {
    font-size: 10px;
    margin: 9px 0 18px 0;
    text-align: end;
    padding-right: 20px;
  }
  
  @media (max-width: 768px) {
    aside {
      width: 20%;
      flex: 0 0 20%;
      border-right: 1px solid white;
    }
    main {
      width: 78%;
      margin: 0 4px;
    }
    .menu-icon {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 5px;
      cursor: pointer;
      z-index: 1000;
      margin-top: 35px;
      width: 34px;
    }
    .menu-icon:hover .bar {
      width: 34px;
    }
    .menu-icon .bar {
      width: 30px;
      height: 4px;
      background-color: white;
      border-radius: 5px;
      transition: width 0.3s ease;
    }
    .dropdown {
      position: absolute;
      top: 35px;
      left: -6px;
      display: none;
      z-index: 100;
    }
    .company-info {
      margin-top: 80px;
    }
    .dropdown.show {
      display: block;
    }
    .address2,
    .address {
      font-size: 10px;
    }
  
    .address span::after,
    .address2 span::after,
    .title3::after{
      left: 50%;
      transform: translateX(-50%);
      bottom: -6px;
    }
    .title1,
    .title2,
    .title3 {
      font-size: 13px;
    }
    .phone {
      font-size: 11px;
    }
    .hours {
      font-size: 9px;
    }
    .font-arial {
      font-size: 11px;
    }
    .home-page-content img {
      width: 100%;
      margin: 0;
    }
    footer p {
      margin-top: 32px;
    }
  }
  
  @media (min-width: 1400px) {
    body {
      display: flex;
      align-items: flex-start;
    }
    aside {
      margin-top: 0;
    }
    main {
      margin-top: auto;
      margin-bottom: auto;
    }
    .company-info {
      margin-top: 270px;
    }
  }
  